<!DOCTYPE html>
<html>
<head>
  <title>CrApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHlTZWZG8iPbFfII-FJ7N0fV3D1x_7Uiw"></script>
  <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
  <script type="text/template" id='review-template'>
      <button type="button" class="remove" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <br>
      <big>Your rating:</big>
      <br>
      <h3><%%= rating %></h3>
      <br>
      <big><em>"...<%%= message %>"</em></big>
  </script>

</head>
<body>


        <!-- header/mobile navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <!-- toggle hamburger -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Brand</a>
              <button type="button" id="hide" class="navbar-toggle collapse in" data-toggle="collapse">>>></button>

            </div>

            <!-- toggled nav -->
            <div class="collapse navbar-collapsed" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-left">
                  <li><a href="/">Locate a bathroom</a></li>
                  <% if current_user %>
                    <li>
                      <a href="/users/profile">My profile</a>
                    </li>
                    <li><a href="/logout">Log out</a>
                    </li>
                  <% else %>
                    <li><a href="#">Log in</a>
                      <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                          <%= form_tag '/login' do %>
                          Username: <%= text_field_tag 'user[username]' %>
                          Password: <%= password_field_tag 'user[password]' %>
                          <%= submit_tag 'log in' %>
                          <% end %>
                      </ul>
                    </li>
                    <li><a href="/signup">Sign up</a>
                      <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                      <form class="" action="/users" method="post">
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                        <label>username:</label>
                        <input type="text" name="user[username]" value="" placeholder="username">
                        <label>email:</label>
                        <input type="text" name="user[email]" value="" placeholder="email">
                        <label>password:</label>
                        <input type="password" name="user[password]" value="" placeholder="password">
                        <label>confirm:</label>
                        <input type="password" name="user[password_confirmation]" value="" placeholder="password confirmation">
                        <button type="submit" name="button">sign up</button>
                      </form>
                    </ul>
                    </li>
                  <% end %>
            </div>
          </div>
        </nav>
      <!-- header/mobile navbar ends -->
      <!-- sidebar content -->
      <div id="wrapper">
          <div id="sidebar-wrapper">
              <ul class="sidebar-nav nav-pills nav-stacked" id="menu">

                  <li>
                      <a href="/bathrooms">Locate a bathroom</a>
                  </li>
                  <% if current_user %>
                    <li>
                      <a href="/users/profile">My profile</a>
                    </li>
                    <li><a href="/logout">Log out</a>
                    </li>
                  <% else %>
                    <li><a href="#">Log in</a>
                      <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                          <%= form_tag '/login' do %>
                          Username: <%= text_field_tag 'user[username]' %>
                          Password: <%= password_field_tag 'user[password]' %>
                          <%= submit_tag 'log in' %>
                          <% end %>
                      </ul>
                    </li>
                    <li><a href="/signup">Sign up</a>
                      <ul class="nav-pills nav-stacked" style="list-style-type:none;">
                      <form class="" action="/users" method="post">
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                        <label>username:</label>
                        <input type="text" name="user[username]" value="" placeholder="username">
                        <label>email:</label>
                        <input type="text" name="user[email]" value="" placeholder="email">
                        <label>password:</label>
                        <input type="password" name="user[password]" value="" placeholder="password">
                        <label>confirm:</label>
                        <input type="password" name="user[password_confirmation]" value="" placeholder="password confirmation">
                        <button type="submit" name="button">sign up</button>
                      </form>
                    </ul>
                    </li>
                  <% end %>
              </ul>
          </div>
<!-- sidebar container ends -->

  <%= yield %>
</div>

  <%= javascript_include_tag 'users', 'data-turbolinks-track' => true %>

</body>
</html>
