<h1>All Bathrooms!!</h1>
<h4>Time is <%= Time.now %></h4>



<ol>


  <% @bathrooms.each do |bathroom| %>
    <li><%= bathroom.name %> at <%= bathroom.address %>, <%= bathroom.city %>, <%= bathroom.state %> <%= bathroom.zip_code %></li>
  <% end %>

</ol>
<div id="map">
</div>
<div class="infobox-wrapper">
    <div id="infobox">
        The code is completely different, but we can stick a Ruby template in here for the view?
    </div>
  </div>
