<!DOCTYPE html>
<html>
<head>
  <title>CrApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHlTZWZG8iPbFfII-FJ7N0fV3D1x_7Uiw"></script>
  <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
</head>
<body>
<!-- header/mobile navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- toggle hamburger -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">crApp</a>
      <button type="button" id="hide" class="navbar-toggle collapse in" data-toggle="collapse">>>></button>

    </div>

    <!-- toggled nav -->
    <div class="collapse navbar-collapsed" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search for a bathroom<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li>
            <form class="navbar-form navbar-left ws-validate" role="search" id="chooseZip">
              <div class="input-group input-group-sm"><span class="input-group-addon" id="sizing-addon3">Zip code</span>
                <div class="form-group">
                  <input id="textZip" type="text" class="form-control" placeholder="Enter zip code" required>
                </div>
                <span class="input-group-btn">
                  <button class="btn btn-default" type="submit">Search!</button>
                </span>
              </div>
            </form>
          </li>
          <li>
            <form class="locate navbar-form navbar-left" role="search" action="/api/bathrooms/locate" method="get" style="text-align: center;">
              <input type="hidden" id='latitude' name="coords[latitude]" placeholder="latitude">
              <input type="hidden" id='longitude' name="coords[longitude]" placeholder="longitude">
              <input type="hidden" id='radius' name="radius" value="6">
              <input type="submit" class="btn btn-default" name="submit" value="View nearby bathrooms">
            </form>
          </li>
        </ul>
      </li>
      <% if current_user %>
        <li>
          <a href="/users/profile">My profile</a>
        </li>
        <li>
          <a href="/logout">Log out</a>
        </li>
      <% else %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log in<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li style="text-align: center">
              <%= form_tag '/login', class: 'ws-validate' do %>
              <div class="form-group">
                Username: <%= text_field_tag 'user[username]' %>
              </div>
              <div class="form-group">
                Password: <%= password_field_tag 'user[password]' %>
              </div>
              <div class="form-group">
                <%= submit_tag 'log in' %>
              </div>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign up<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li style="text-align: center">
                <form class="form-inline ws-validate" action="/users" method="post">
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                  <div class="input-group form-group"><span class="input-group-addon" id="sizing-addon2">Username</span>
                    <input class="form-control" type="text" name="user[username]" value="" placeholder="username" required>
                  </div>
                  <br>
                  <div class="input-group form-group"><span class="input-group-addon" id="sizing-addon2">Email</span>
                    <input class="form-control" type="text" name="user[email]" value="" placeholder="email" required>
                  </div>
                  <br>
                  <div class="input-groupform-group"><span class="input-group-addon" id="sizing-addon2">Password</span>
                    <input class="form-control" type="password" name="user[password]" value="" placeholder="password" required>
                  </div>
                  <br>
                  <div class="input-group form-group"><span class="input-group-addon" id="sizing-addon2">Confirm</span>
                    <input class="form-control" type="password" name="user[password_confirmation]" value="" placeholder="password confirmation" required>
                  </div>
                  <br>
                  <button class="form-control" type="submit" name="button">sign up</button>
                </form>
              </li>
            </ul>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>



<!-- header/mobile navbar ends -->

<!-- sidebar content -->
<div id="wrapper">
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
      <li>
        <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x "></i></span>Locate a bathroom</a>
          <ul id="locate" class="nav-pills nav-stacked">
            <li>
              <form method="get" id="chooseZip" class="ws-validate">
                <!-- <button type="submit" class="learnButton">Use current location</button> -->
                <button type="button" id="searchZip" class="learnButton">Search by Zip Code</button>
                <div class="clear"></div>
                <div class="zipSearch">
                  <div class="form-group">
                    <input id="textZip2" type="text" name="coords[zip_code]" placeholder="enter your zip code" autofocus required>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="learnButton">Search</button>
                  </div>
                </div>
                <div class="clear"></div>
              </form>
              <form class="locate" action="/api/bathrooms/locate" method="get">
                <input type="hidden" id='latitude' name="coords[latitude]" placeholder="latitude">
                <input type="hidden" id='longitude' name="coords[longitude]" placeholder="longitude">
                <input type="hidden" id='radius' name="radius" value="6">
                <input type="submit" class="learnButton" name="submit" value="Bathrooms Near Me">
              </form>
              <script type="text/javascript">
              $('form.locate').on('submit', function(e){
                e.preventDefault();
                var pos;
                locate();
              });
              $('form#chooseZip').on('submit', function(e){
                e.preventDefault();
                chooseZip();
              })
              </script>
            </li>
          </ul>
        </li>
        <% if current_user %>
          <li>
            <a href="/users/profile">My profile</a>
            <!-- <ul class="nav-pills nav-stacked" style="list-style-type:none;">
              <li><a href="#">My reviews</a></li>
            </ul> -->
          </li>
          <li><a href="/logout">Log out</a>
          </li>
        <% else %>
        <li><a href="#">Log in</a>
          <ul class="nav-pills nav-stacked" style="list-style-type:none;">
            <%= form_tag '/login', :class => 'form-inline ws-validate' do %>
            <div class="form-group">
              Username: <%= text_field_tag 'user[username]'%>
            </div>
            <div class="form-group">
              Password: <%= password_field_tag 'user[password]'%>
            </div>
            <div class="form-group">
              <%= submit_tag 'log in' %>
            </div>
          <% end %>
          </ul>
        </li>
        <li><a href="/signup">Sign up</a>
          <ul id="locate" class="nav-pills nav-stacked">
            <form class="form-inline ws-validate" action="/users" method="post">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <br>
              <div class="input-group input-group-sm form-group"><span class="input-group-addon" id="sizing-addon3">Username</span>
                <input class="form-control" type="text" name="user[username]" value="" placeholder="username" required>
              </div>
              <br>
              <div class="input-group input-group-sm form-group"><span class="input-group-addon" id="sizing-addon3">Email</span>
                <input class="form-control" type="text" name="user[email]" value="" placeholder="email" required>
              </div>
              <br>
              <div class="input-group input-group-sm form-group"><span class="input-group-addon" id="sizing-addon3">Password</span>
                <input class="form-control" type="password" name="user[password]" value="" placeholder="password" required>
              </div>
              <br>
              <div class="input-group input-group-sm"><span class="input-group-addon" id="sizing-addon3">Confirm</span>
                <input class="form-control" type="password" name="user[password_confirmation]" value="" placeholder="password confirmation">
              </div>
              <br>
              <button class="form-control" type="submit" name="button">Sign up</button>
            </form>
          </ul>
        </li>
        <% end %>
          <!-- <li>
            <a href="#">Contact</a>
          </li> -->
        </ul>
      </div>
    </div>
  <!-- sidebar container ends -->

    <!-- map content -->
    <%= yield %>


</body>
</html>
